.Home {
  // border: 1px solid red;
  height: 100svh;
  height: 100vh;
  .bgContainer {
    width: 80%;
    height: 45vh;
    .singleBg {
      width: 30vh;
      height: auto;
    }
  }
  .btn {
    width: 20%;
  }
}

// tablet view
@media all and (max-width: 1024px) {
  .Home {
    .bgContainer {
      width: 75%;
      height: 60vh;
      .singleBg {
        width: 15vh;
      }
      .extra {
        margin-top: 30vh;
      }
    }
    .btn {
      width: 40%;
    }
  }
}

// mobile view
@media all and (max-width: 480px) {
  .Home {
    .bgContainer {
      width: 95%;
      height: 50vh;
      .singleBg {
        width: 12.5vh;
      }
    }
    .btn {
      width: 50%;
    }
  }
}
